
.container{
    height: 800px;
    width: auto;
    border: solid black 5px;
    background-color: #faeee7;
}
.main_heading{
    text-align: center;
    color: #ff8ba7;
    font-size: 50px;
    font-family: cursive;
}
.side_bar{
    display: flex;
    flex-direction: column;
}
.icons{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20px;
}
.icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}